.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  min-height: 70vh;
  width: 90%;
  max-width: 500px;
}

.card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  min-height: 30vh;
  box-sizing: border-box;
  padding: 5px;
}
.card form .email, .card .password {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.card form .check{
  display: flex;
  gap: 5px;
  align-items: center;
}
.card form a{
  margin-top: 1rem;
  text-align: center;
  color: black;
  text-decoration: none;
}
.card form a:hover{
  text-decoration: underline;
  color:dodgerblue;
}

