.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  min-height: 70vh;
  width: 90%;
  max-width: 500px;
}

.card form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  min-height: 30vh;
  box-sizing: border-box;
  padding: 5px;
}
.card form .name,.password{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.card form a{
  text-decoration: none;
  text-align: center;
  color: black;
}
.card form .form-select{
  border: 3px solid black;
  min-height: 5vh;
}
.card form a:hover{
  text-decoration: underline;
  color:dodgerblue;
}
